@keyframes shake {
    0%   {transform: rotate( 0deg);}
    25%  {transform: rotate( 5deg);}
    50%  {transform: rotate(-5deg);}
    100% {transform: rotate( 0deg);}
}

@keyframes move_up {
    0%   {transform: translateX(0em)}
    50%  {transform: translateX(-3em)}
    100% {transform: translateX(0em)}
}

* {
    user-select: none;
    font-family: 'Press Start 2P';
    text-align: center;
    margin: auto;
    transition: .5s;
}

body {
    background-color: #101;
    color: aliceblue;
}

.targeta {
    background: linear-gradient(99deg, #ff00ff, #ffff00 50%, #202 50%);
    background-position: 100%;
    background-size: 200%;
    box-shadow: 0px -10px 10px 1px #101;
    border-radius: 3vw;
    display: grid;
    width: 40vw;
    height: 25vw;
    margin: auto;
    padding: 5vw;
    font-size: 1.5vw;
}

.targeta:hover {
    padding: 10vw;
    background-position: 0;
    box-shadow: 0px -10px 20px 1px #525;
}

.targeta h1 {
    display: inline-block;
    border-radius: 2vw;
    margin: auto;
    padding: 1.3vw;
    transition: 0.5s;
}

.targeta h1:hover {
    color: aquamarine;
    background-color: aliceblue;
}

.targeta a {
    display: inline-block;
    border-radius: 1.5vw;
    margin: auto;
    padding: 1.3vw;
    animation: move_up 0.5s ease;
}

.targeta:hover a {
    background-color: aliceblue;
    color: fuchsia;
    animation: shake 0.5s;
}

.circle {
    background-color: aliceblue;
    margin: auto;
    display: block;
     width: 10vw;
    height: 10vw;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #101;
}

.circle:hover {
     width: 15vw;
    height: 15vw;
    box-shadow: 0px 0px 100px 10px #a0a;
}

.footer {
    background: linear-gradient(90deg, #fff 50%, #f0f 50%, #ff0);
    background-size: 200%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 5vw;
}

.footer:hover {
    background-position: 100%;
}

.footer a {
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: auto;
    padding: 1.5em;
}

.footer:hover a {
    color: aliceblue;
    animation: shake infinite 0.5s ease;
}

.footer a:hover {
    background-color: #101;
}

.footer a p {
    font-size: 1.5em;
}
